header
    a(href="index.html")
        img(src="img/logo.svg", alt="")
    ul.ul_l.dekstop_menu
        li.li_l
            a(href="").menu_active Главная
        li.li_l.one_type
            a(href="") Многодневные Туры
            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none")
                path.path_arr1(d="M9.90918 0.909088L5.36374 4.90909L0.818294 0.909088" stroke="" stroke-width="2" style="&#10;    stroke: black;&#10;")

            .mega_menu.mega_menu1(style="z-index:9;")
                .container
                    h2 Многодневные Туры
                    .mega_item
                        ul
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                        ul
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Село Териберка на берегу океана
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска


        li.li_l.one_type_2
            a(href="") однодневные Туры
            svg(xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none")
                path.path_arr2(d="M9.90918 0.909088L5.36374 4.90909L0.818294 0.909088" stroke="" stroke-width="2" style="&#10;    ")
            .mega_menu.mega_menu2(style="z-index:9;")
                .container
                    h2 Однодневные туры
                    .mega_item
                        ul
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                        ul
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Село Териберка на берегу океана
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска
                            li
                                img(src="img/icon_li.png", alt="")
                                a(href="") Террасы Мурманска

        li.li_l
            a(href="#contact").contact Контакты
    

    .mobile_menu(style="z-index:999;")
        ul.menu_mobile
            li.li_l
                a(href="") Главная
            li.li_l.one_type
                a(href="") Многодневные Туры
                img.arrow(src="img/arr.svg", alt="")
                .mega_menu.mega_menu1(style="z-index:9;")
                    .container
                        h2 Многодневные Туры
                        .mega_item
                            ul
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                            ul.second-child
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Село Териберка на берегу океана
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска


            li.li_l.one_type_2
                a(href="") Однодневные туры
                img.arrow(src="img/arr.svg", alt="")
                .mega_menu.mega_menu2(style="z-index:9;")
                    .container
                        h2 Однодневные туры
                        .mega_item
                            ul
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                            ul.second-child
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Село Териберка на берегу океана
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска
                                li
                                    img(src="img/icon_li.png", alt="")
                                    a(href="") Террасы Мурманска

            li.li_l
                a(href="#contact").contact Контакты

        .lang
            a.active(href="") RU
            a(href="") EN
            a(href="") CH
    img(src="img/burger1.svg", alt="").burger
    img(src="img/close.svg", alt="").burger1
    .lang
        a.active(href="") RU
        a(href="") EN
        a(href="") CH